.d-block {
  
    height: 500px;
    width: 100%;
    
}
.texto {
    padding-top: 130px;
    padding-left: 50px;
    font-style: italic;
}

.container{
    display: flex;
    align-items: center;
    font-style: italic;
    padding-top: 50px;
    
}

@media(max-width:600px){
    .d-block {
        height: 300px;
        width: 100%
        
    }
}


